.contact {
    background-color: white;
    display: flex;
}

.left {
    flex: 1;
    overflow: hidden;
}

img {
    height: 100%;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-right {
    display: inline-block;
    width: 50%;
    /* text-align: right; */
    word-break: break-all;
}

.text-left {
    vertical-align: top;
    display: inline-block;
    width: 45%;
    text-align: left;
}